<nav class="navbar navbar-dark bg-dark">
  <span class="navbar-brand mb-0 h1">Task Management App</span>
</nav>

<!-- Add to list Component -->

<div class="add-list-container">
  <input type="text" name="listName" id="listName" #listName />
  <button (click)="addToList(listName.value)">Add</button>
</div>

<!-- Lists Component -->

<div class="lists-container">
  <app-list
    *ngFor="let list of lists; let last = last"
    [last]="last"
    [listName]="list"
    >{{ last }}</app-list
  >
</div>
